.Container-logo {

    text-decoration: none;
    display: flex;
    
  }
  
  .Container-logo p {
    flex: 0;
    margin: 0; /* Elimina el margen predeterminado del encabezado */
    color: #e9a1a1; /* Color del texto */
    font-size: 22px; /* Tamaño del texto */
    text-transform: uppercase;
    text-decoration: none ;
    letter-spacing: 2px; /* Ajusta el espaciado entre letras */
  }
  
  .logo-image {
    margin-right: 15px;
    width: 71px; /* Ajusta el ancho de la imagen según sea necesario */
    height: 65px; /* Mantiene la proporción de aspecto original */
 /* Ajusta el relleno según sea necesario */
    text-decoration: none;
  }
  