/* Estilos para el botón del acordeón */
.accordion-button {
    background-color: #f0f0f0;
    color: #904d4d;
    border: none;
    padding: 10px 20px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .accordion-button.hovered {
    background-color: #5e0404; /* Cambia el color de fondo cuando se pasa el ratón por encima */
  }
  
  /* Estilos para el cuerpo del acordeón */
  .accordion-body {
    background-color: #b04d4d;
    padding: 10px 20px;
    border: 1px solid #1c0101;
  }
  