/* Ensure the container takes up the full viewport height */
.error-container {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Image/404.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    color:#00f ; /* Ensure text is visible over the background image */
  }
  
  /* Additional styling for the link */
  .error-container a {
    color: #00f; /* Adjust color as needed */
    text-decoration: underline;
  }
  