/* FAQs.css */

.faq-container {
    max-width: 1000px;
    margin: 0 20px;
    padding: 10px;
    font-family: Arial, sans-serif;
    color: #000000;
  }
  
  .faq-container h1 {
    text-align: center;
    color: #0a0a0a;
    margin-bottom: 20px;
  }
  
  .faq-section p {
    font-size: 1em;
    margin-top: 10px;
    line-height: 1.5;
    display: none;
  }
  
  .faq-section.open p {
    display: block;
  }
  
  .faq-section:hover h2 {
    color: #131517;
  }
  