
.footer {
  background-image: linear-gradient(to right, #a5351ca4, #a5351ca4);
  padding: 1rem 3rem; 
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* S
.social-link {
  color: #000; 
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0 1rem; 
}

/* Specific styling for each social icon */
.social-icon.facebook {
  color: #3b5998; /* Facebook blue */
}

.social-icon.twitter {
  color: #1da1f2; /* Twitter blue */
}

.social-icon.instagram {
  color: #e4405f; /* Instagram gradient color */
}

/* Styling for the social icons */
.social-icon {
  margin-right: 10px; /* Adjust spacing if needed */
  font-size: 1.5rem; /* Adjust icon size if needed */
}

/* Styling for the social media names */
.social-name {
  font-size: 1.2rem; /* Adjust font size if needed */
}

/* Ensure the footer stays at the bottom */
html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.text-muted {
  color: #020406 !important;
}

.faqs-button .faqs-link {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.newsletter button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #000; /* Color de fondo negro */
  color: #fff; /* Color del texto blanco */
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #333; /* Color de fondo más oscuro al pasar el cursor */
}








