.Singin-Container{
    background-image: url(
https://png.pngtree.com/thumb_back/fh260/background/20230717/pngtree-d-render-of-a-laptop-with-a-supermarket-cart-and-parcel-image_3892818.jpg        
        );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 80px;
    padding-bottom: 100px;
}

.Form-Login{
    background-image: linear-gradient(to right, #df6e54e5, rgba(216, 103, 78, 0.658));   
    border-style: solid;
    border-width: 1px;
    box-shadow: 8px 8px 5px;
    padding: 30px;
    max-width: 600px;
    margin-left: 20%;
    border-radius: 10%;
    padding-bottom: 70px;
    opacity: 0.9;
}

.icon{
    position: absolute;
    top: 50px;
    right: 5px; 
    transform: translateY(-50%);
   
}


.botton-Singin{
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #a03a23b9;
    color: white;
    border-style: none;
    text-decoration: none;
    cursor: pointer; 
    transition: background-color 0.3s ease;  
}

.botton-Singin:hover{
    background-color: #913622a4;
   }

.Error-SingIn{
    color: rgba(14, 110, 221, 0.842);
}
.reset-password-link {
    color: #000000;
    text-decoration: none;
  }
  
  .reset-password-link:hover {
    text-decoration: underline;
  }
  