

.Form-Login{
    background-color: rgb(170, 165, 165);
    border-style: solid;
    padding: 3%;
    max-width: 600px;
    margin-top: 2%;
    margin-left: 20%;
    border-radius: 10%;
    padding-bottom: 100px;
}

.icon{
    position: absolute;
    top: 75%;
    right: 10px; /* Ajusta esta distancia del icono al borde derecho del input */
    transform: translateY(-50%);
    cursor: pointer;
}


