.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d6d6d6;
  }
  
  .success-message {
    padding: 20px;
    background-color: rgb(76, 161, 19);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
  }
  