
.Container-Products{
    background-color:  #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #dbdbdb;
    border-radius: 10%;
    padding: 10px;
    margin-left: 50px;
    margin-bottom: 50px;
    width: 250px;
    max-height: 100%;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
}

.Container-Products-Disabel{
    background-color: #999797;
    border-radius: 10%;
    padding: 10px;
    margin-left: 80px;
    margin-bottom: 10px;
    max-width: 250px;
    max-height: 200px;
}

.Product-Name {
    font-size: 22px; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5); 
}

.Product-Price{
    color:  red;
    font-size: 15px;
    margin: 0px;
}
.Product-Offer{
    margin: 0px;
    font-size: 20px;
}
.Container-Button-Products{
    display: inline;
    margin-right: 4%;

}
.Container-Button-Products input{
    padding: 1%;
    width: 10%;
    text-align: center;
    border-style: none;
    margin: 0;
}
.Container-Button-Products button{
    padding: 1%;
    background-color: rgb(255, 255, 255);
    border-style: none;
    margin: 0;
}
.Add-Product{
    border-style: none;
    padding: 2%;
    background-color: #f19058;
    border-radius: 40%;
}

.Container-Products:hover {
    transform: scale(1.5);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.5);    
    max-height: 100%;
    background-color: white;
    
}
.Container-Products-Disabel:hover {
    transform: scale(1.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 100%;
    background-color: #999797;
}

.Add-Product:hover {
    background-color: #b5602d;
}

.Button-Add-Category{
    background-color: #1192EF;
    border-style: none;
    border-radius: 10%;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 20px;
    max-width: 220px;
}
.Button-Add-Product{
    background-color: #ffffff;
    border-style: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 30px;
    margin-left: 20px;
    max-width: 300px;
    
}
.Container-Add-Category {
    display: flex; 
    flex-direction: column; 
    border-style: none;
    max-width: 300px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    opacity: 0; 
    transition: opacity 1s ease; 
    pointer-events: none; 
  }
  
  .Container-Add-Category.active {
    opacity: 1; 
    pointer-events: all; 

  }
.Container-Add-Product{
    border-style: none;
    max-width: 200px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    opacity: 0;
    max-height: 0; 
    overflow: hidden; 
    transition: opacity 1s ease, max-height 1s ease;
  }
.Container-Add-Product.active {
    opacity: 1; 
    max-height: 500px; 
}
  
.Container-Add-Product input{
    border: none;
    padding: 1px;
}
.Container-Add-Product button{
    padding: 5px;
    margin-top: 10px;
    border-style: none;
    border-bottom-right-radius: 10%;
    background-color: #c56f28;
}


.Button-Desactive-Product{
    margin-left: 50px;
    margin-bottom: 5px;
    border-style: none;
    padding: 5px;
    border-radius: 15px;
    background-color: #D9D9D9;
}
.Container-Add-Category  input{
    border: none;
    padding: 1px;
}
.Container-Add-Category button{
    padding: 1px;
    border-style: none;
    border-bottom-right-radius: 10%;
    background-color: #1192EF;
}
.Products-Seller{
    display: flex;
    flex-direction: column;
 
}
.Error-Products{
    font-size: 50px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

.Select-order{
    display: flex;
    align-items: center; 
}
.Select-order p{
    margin-right: 500px;
}
.Select-order select{
    padding: 5px;
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 5px;
    margin: 5px;
}
.icon-heart{
    color: #c40303cc;
}
.icon-favorite{
    color: #500202;
}

.cart-update-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
  }

  .Product-Image {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}


.Product-Edit{
    border-width: 1px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 10px;

}
.Product-Edit-button{
    background-color: #ca733d;
    border-style: none;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

.Add-Image{
    background-color: #d37033;
    border-style: none;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}
.ImageName-Input{
    border-width: 1px;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 10px

}
.Image-Input{
    max-width: 250px;
    font-size: 10px;
}

.Upload-Image{
    background-color: #cc875c;
    border-style: none;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}
.Delete-Image{
    background-color: #cc875c;
    border-style: none;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}


.Page-button{
    border-style: none;
    background-color: #c56f28;
    margin-left: 50px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
@media (max-width: 500px) {
    .Image-MensageProducts{
        margin-top: 30px;
        width: 300px;
    }
}