/* Ensure the container takes up the full viewport height */
.error-container {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../Image/404.png");
    background-size: cover;
    background-position: center;
    text-align: top;
    color:rgba(0, 0, 0, 0.76);; /* Ensure text is visible over the background image */
  }
  
  /* Additional styling for the link */
  .error-container button {
    background-color: rgba(221, 135, 22, 0.76); /* Adjust color as needed */
    border-style: none;
    padding: 30px;
    font-size: 30px;
  }
  