.filter-bar-container {
  position: relative;
  display: inline-block;
}

.icon-category {
  border: none;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #cc713d;
  font-size: 20px;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}

.filter-bar {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column; 
  z-index: 999;
}

.filter-button {
  max-width: 100%;
  padding: 3px 8px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.filter-button:hover {
  background-color: #e0e0e0;
}

.filter-button.active {
  background-color: #8c451f;
  color: #fff;
}

.Category-disabled{
   background-color: #a09f9f;
}

.Buton-Disabel-Category{
  background-color: #1192EF;
  border-style: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px;
}