* {
   
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 
 .password-input-containers {
  display: flex;
  align-items: center;
}
.icon-register{ 
  position: absolute;
  top: 50px;
  right: 28px; 
  transform: translateY(-50%);
 
}

.Register {
   display: flex;
   max-width: 780px;
   margin-top: 2%;
   margin-left: 20%;
   border-radius: 10%;
   overflow: hidden; 
   padding-bottom: 80px;
 }
 
 .form-register {
   flex: 1.3;
   background-color: #f1f1f1; 
   padding: 20px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   position: relative; 
 }
 
 .Welcome {
   display: flex; 
   flex-direction: column; 
   justify-content: center; 
   align-items: center; 
   flex: 1;
   background-color: #b35a1f; 
   padding: 20px;
   border-top-right-radius: 10px;
   border-bottom-right-radius: 10px;
 }
 
 .Welcome h3 {
   margin-bottom: 10px;
 }
 
 .Welcome p {
   margin-bottom: 15px;
 }
 
 .Welcome a {
   display: block;
   width: 100px;
   text-align: center;
   padding: 10px;
   background-color: #a3511b;
   color: white;
   text-decoration: none;
   margin: 15px auto 0;
 }
 
.Error{
   color: red;
}

.Error-Login{
  color: red;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 45%;
  text-align: center;
  max-width: 300px;
  padding: 4px;
}