
body{

    background-color: #D6BF94;
    background-image: url("../Image/Fondo.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 180px;
  
}

  .Home h1 {
    font-size: 42px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Agrega espacio debajo del título */
  }
  
  .Footer {
    margin-top: auto; /* Empuja el footer hacia abajo */
  }

