
body{

    background-color: #D6BF94;
   /* background-image: url("../Image/Fondo.jpg");  */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 180px;
  
}

  .Home h1 {
    font-size: 42px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Agrega espacio debajo del título */
  }
  
  .Footer {
    margin-top: auto; /* Empuja el footer hacia abajo */
  }

  .Time-window {
    position: fixed;
    top: 100px;
    left: 0;
    width: 300px;
    height: 100px;
    background-color: rgba(7, 165, 7, 0.8); /* Fondo verde con opacidad */
    display: flex;
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    transform: translateX(-100%); 
    transition: transform 0.5s ease; 
  }
  
  .Time-window.show {
    transform: translateX(0%); 
  }
  
  .Time-window p{
    padding: 0px;
    color: white;
    font-size: 25px;
  }
  